* {
  font-family: Montserrat, sans-serif;
}

html {
  transform: scale(1.2);
  margin-top: -100px;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

body {
  overflow: visible;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 860px;
  perspective: 1080px;
  perspective-origin: 960px 875px;
  color: #fff;
}

.votesCont {
  padding: 80px;
  padding-left: 84px;
  padding-bottom: 0px;
  transform-style: preserve-3d;
}

.active.voteBoxCont {
  opacity: 1;
  transform: translateZ(0px) scaleY(1);
}

.voteBoxCont {
  margin-top: 17px;
  perspective: 475px;
  perspective-origin: center;
  opacity: 0;
  transition: 0.3s;
  margin-left: 17px;
  position: absolute;
  transform: translateZ(-300px) scaleY(0);
}

.active .voteBox {
  transform: rotateX(0Deg);
}

.voteBox {
  width: 975px;
  height: 75px;
  position: relative;
  transform: rotateX(65Deg);
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(.36, .2, .49, 1.16), font-size 0s;
}

.votesBoxFace {
  width: inherit;
  height: inherit;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  font-size: 26pt;
  overflow: hidden;
}

.active .voteBoxFront {
  box-shadow: none;
  display: flex;
  justify-content: center;
}

.voteBoxFront {
  transform: translate3d(0, 0, 10px);
  transition: 0.3s;
  box-shadow: inset 0px 0px 1000px #ffffff21;
  padding: 17px;
}

.votesBoxBack {
  transform: rotateY(180deg) translate3d(0, 0, 10px);
}

.votesBoxLeft {
  transform: rotateY(-90deg) translate3d(0, 0, 25px);
  width: 150px;
}

.votesBoxRight {
  transform: rotateY(90deg) translate3d(0, 0, 559.5px);
  width: 150px;
}

.votesBoxTop {
  transform: rotateX(90deg) translate3d(0, 0, 10px);
  box-shadow: inset 0px 0px 1000px #ffffff21;
  height: 20px;
}

.active .votesBoxBottom {
  box-shadow: inset 0px 0px 1000px #00000047;
}

.votesBoxBottom {
  transform: rotateX(-90deg) translate3d(0, 0, 65px);
  transition: 0.3s;
  box-shadow: none;
  height: 20px;
}

.votesBoxBottom,
.votesBoxTop,
.voteBoxFront {
  background: linear-gradient(105deg, rgb(89 94 245 / 80%) 13%, rgb(51 48 236 / 65%) 46%, rgb(80 94 251 / 65%) 100%);
  display: flex;
  justify-content: center;
}

.voteprimary {
  flex: 1;
}

.voteTotal {
  min-width: 40px;
  text-align: center;
  font-size: 33pt;
  font-weight: 500;
}

.voteNew.new {
  background-color: rgb(0 43 197 / 30%);
  padding: 32px 25px;
  width: 40px;
  color: #fff;
}


.voteNew {
  color: #0000;
  width: 0;
  text-align: center;
  padding: 32px 0;
  font-size: 36pt;
  font-weight: 600;
}

.voteprimary {
  padding: 23px;
  padding-left: 20px;
}

.voteTotal {
  padding: 33px 23px;
}

.backgroundVid {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 25px);
  opacity: 0.75;
  overflow: hidden;
}

#primary {
  font-weight: bold;
}

#secondary {
  margin-left: 10px;
}

#separator {
  margin-left: 10px;
}

#primary,
#secondary,
#separator {
  z-index: 1;
  opacity: 1;
  transition: all 0.3s, font-size 0s;
  margin-top: auto;
  margin-bottom: auto;
}

.overlay {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  transition: 0.3s 0.3s;
  display: flex;
  opacity: 1;
  font-size: 20pt;
}

.overlay .left {
  flex-grow: 1;
  text-align: right;
  background-color: rgba(0, 242, 255, 0.178);
  padding: 17px;
  z-index: 1;
  padding-top: 22px;
  white-space: nowrap;
}

.overlay .right {
  flex-grow: 1;
  z-index: 1;
  padding: 17px;
  padding-top: 22px;
  white-space: nowrap;
}

.overlay.hidden {
  opacity: 0;
}

#primary.hidden,
#secondary.hidden {
  opacity: 0;
}